@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body {
    font-family: 'Chakra Petch', sans-serif;
}
.navbar {
    background-color: black!important;
    
}

.navbar-brand {
    color: white!important;
    font-size: 30px!important;
    
}
.container-fluid img {
    width: 50px!important;
    height: 50px!important;
    border-radius: 50%!important;
}

.btn {
    background-color: white!important;
    color: black!important;
    border: 1px solid white!important;
    width: 25% !important;
   
}

#searchInput {
    width: 100%!important;
    border-radius: 5px!important;
    padding: 10px !important;
    font-size: 20px!important;
}

.container-fluid {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.btn:hover {
    background-color: black!important;
    color: white!important;
    border: 1px solid white!important;
}

.navbar-toggler-icon {
    background-color: white!important;
    border-radius: 3px!important;
}


//MAIN

main {
    margin-left: 10px;
    margin-right: 10px;
}

//CARD


.card-img-top {
    width: 200px!important;
    height: 200px!important;
    background-color: white;
    border-radius: 50%!important;
    margin: auto!important;
}

.card-cor {
    width: 300px!important;
    margin: auto!important;
    border-radius: 10px!important;
    border: 1px solid black!important;
    padding: 20px!important;
    margin-bottom: 20px!important
    
}

#pa {
    text-align: center!important;
}

.card-body {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.modal-body input{
    width: 60%!important;
    margin-bottom: 20px!important;
    border: 1px solid black!important;
    
}

.dsa {
    display: flex!important;
    flex-direction: column!important;
}

label {
    margin-bottom: 10px!important;
}

a {
    color: white !important;
    text-decoration: none!important;
    margin-left: 20px !important;
}

a:hover {
    color: #D3D3D3!important;
}
