@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

.navbar {
    background-color: black!important;
}

.navbar-brand {
    color: white!important;
}

.btn {
    background-color: white!important;
    color: black!important;
    border: 1px solid white!important;
}

.btn:hover {
    background-color: black!important;
    color: white!important;
    border: 1px solid white!important;
}

.navbar-toggler-icon {
    background-color: white!important;
    border-radius: 3px!important;
}

//MAIN
.row {
    
    
}
main {
    margin-left: 10px;
    margin-right: 10px;
}

//CARD
#card-geral-poke {
    
}

.card-img-top {
    width: 200px!important;
    height: 200px!important;
    background-color: white;
    border-radius: 50%!important;
    margin: auto!important;
}

.card-cor {
    width: 300px!important;
    margin: auto!important;
    border-radius: 10px!important;
    border: 1px solid black!important;
    padding: 20px!important;
    margin-bottom: 20px!important
    
}

#pa {
    text-align: center!important;
}

.card-body {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    
    
}